[submodule "reference/FTServo_Arduino"]
	path = reference/FTServo_Arduino
	url = https://github.com/ftservo/FTServo_Arduino
[submodule "reference/aero-hand-open"]
	path = reference/aero-hand-open
	url = https://github.com/TetherIA/aero-hand-open
[submodule "src/sim/aero-open-sim"]
	path = src/sim/aero-open-sim
	url = https://github.com/TetherIA/aero-open-sim
